<% 
  variant = local_assigns[:variant] || '' 
  chosen_variant = ''
%>

<% if variant.present? %>
  <div data-abex-variant="<%= variant %>">
    <% debugger %>
    <% selector = HTML::Selector.new "input[type=text]" %>
    <% if chosen_variant&.eql?(variant) %>
      <%= yield %>
    <% end %>
  </div>
<% end %>
