<% 
  variant = local_assigns[:variant] || '' 
  chosen_variant = false
%>

<% if variant.present? %>
  <div data-abex-variant="<%= variant %>">
    <%= yield %>
  </div>
  <script>
      var ele = document.querySelector('[data-abex-variant="<%= variant %>"]');
      if (ele) {
        var elVariant = ele.dataset.abexVariant;
        var parentEle = ele.parentElement;
        if (parentEle) {
          var flagVariant = parentEle.dataset.flagVariant;
          if (flagVariant !== elVariant) {
            ele.remove();
          }
        }
      }
    </script>
<% end %>
