<% 
  variant = local_assigns[:variant] || '' 
  chosen_variant = false
%>

<% if variant.present? %>
  <div data-abex-variant="<%= variant %>">
    <script>
      const ele = document.querySelector('[data-abex-variant="<%= variant %>"]');
      if (ele) {
        const elVariant = ele.dataset.abexVariant;
        const parentEle = ele.parentElement;
        if (parentEle) {
          var flagVariant = parentEle.dataset.flagVariant;
          if (flagVariant === elVariant) {
            <% chosen_variant = true %>
          }
        }
      }
    </script>
    <% if chosen_variant.present? %>
      <%= yield %>
    <% end %>
  </div>
<% end %>
