<%
  flag_key = local_assigns[:flag_key] || ''
  variant = local_assigns[:variant] || 'Default'
%>

<script>
  var variant = "<%= variant %>";
  var flag_key = "<%= flag_key %>";
  window.abex = {}
  window.abex[flag_key] = variant;
</script>

<div data-flag-key="<%= flag_key %>">
  <%= yield %>
</div>
