<%
  experiment_key = local_assigns[:experiment_key] || ''
%>

<div data-abex-key="<%= experiment_key %>">
  <% @abex_features.add_to_progress(key: experiment_key) %>
  <%= yield %>
  <% @abex_features.remove_from_progress %>
</div>
